.icon_101drogerie 
{
  width: 97px;
  height: 39px;    
  background: var(--icon_img_bg) -0px -0px;
  background-size: 1100px 826px;
}
.icon_f_101drogerie 
{
  width: 189px;
  height: 78px;    
  background: var(--icon_img_bg) -0px -0px;
  background-size: 2115px 1590px;
}
.icon_1day 
{
  width: 98px;
  height: 39px;    
  background: var(--icon_img_bg) -0px -42px;
  background-size: 1100px 826px;
}
.icon_f_1day 
{
  width: 190px;
  height: 77px;    
  background: var(--icon_img_bg) -0px -81px;
  background-size: 2115px 1590px;
}
.icon_aeg 
{
  width: 98px;
  height: 40px;    
  background: var(--icon_img_bg) -0px -83px;
  background-size: 1100px 826px;
}
.icon_f_aeg 
{
  width: 190px;
  height: 77px;    
  background: var(--icon_img_bg) -0px -160px;
  background-size: 2115px 1590px;
}
.icon_albi 
{
  width: 97px;
  height: 39px;    
  background: var(--icon_img_bg) -0px -125px;
  background-size: 1100px 826px;
}
.icon_f_albi 
{
  width: 189px;
  height: 78px;    
  background: var(--icon_img_bg) -0px -239px;
  background-size: 2115px 1590px;
}
.icon_all_in_market 
{
  width: 98px;
  height: 39px;    
  background: var(--icon_img_bg) -0px -166px;
  background-size: 1100px 826px;
}
.icon_f_all_in_market 
{
  width: 190px;
  height: 77px;    
  background: var(--icon_img_bg) -0px -319px;
  background-size: 2115px 1590px;
}
.icon_alltoys 
{
  width: 97px;
  height: 40px;    
  background: var(--icon_img_bg) -0px -207px;
  background-size: 1100px 826px;
}
.icon_f_alltoys 
{
  width: 189px;
  height: 78px;    
  background: var(--icon_img_bg) -0px -398px;
  background-size: 2115px 1590px;
}
.icon_amarena 
{
  width: 97px;
  height: 40px;    
  background: var(--icon_img_bg) -0px -249px;
  background-size: 1100px 826px;
}
.icon_f_amarena 
{
  width: 189px;
  height: 78px;    
  background: var(--icon_img_bg) -0px -478px;
  background-size: 2115px 1590px;
}
.icon_asko 
{
  width: 84px;
  height: 39px;    
  background: var(--icon_img_bg) -0px -291px;
  margin: 0 7px;
  background-size: 1100px 826px;
}
.icon_f_asko 
{
  width: 164px;
  height: 78px;    
  background: var(--icon_img_bg) -0px -558px;
  background-size: 2115px 1590px;
}
.icon_author 
{
  width: 97px;
  height: 40px;    
  background: var(--icon_img_bg) -0px -332px;
  background-size: 1100px 826px;
}
.icon_f_author 
{
  width: 189px;
  height: 78px;    
  background: var(--icon_img_bg) -0px -638px;
  background-size: 2115px 1590px;
}
.icon_autokelly 
{
  width: 98px;
  height: 33px;    
  background: var(--icon_img_bg) -0px -374px;
  background-size: 1100px 826px;
}
.icon_f_autokelly 
{
  width: 190px;
  height: 67px;    
  background: var(--icon_img_bg) -0px -718px;
  background-size: 2115px 1590px;
}
.icon_auto_lekaren_sk 
{
  width: 97px;
  height: 40px;    
  background: var(--icon_img_bg) -0px -409px;
  background-size: 1100px 826px;
}
.icon_f_auto_lekaren_sk 
{
  width: 189px;
  height: 78px;    
  background: var(--icon_img_bg) -0px -787px;
  background-size: 2115px 1590px;
}
.icon_avon 
{
  width: 94px;
  height: 40px;    
  background: var(--icon_img_bg) -0px -451px;
  background-size: 1100px 826px;
}
.icon_f_avon 
{
  width: 184px;
  height: 78px;    
  background: var(--icon_img_bg) -0px -867px;
  background-size: 2115px 1590px;
}
.icon_banquet 
{
  width: 92px;
  height: 39px;    
  background: var(--icon_img_bg) -0px -493px;
  margin: 0 3px;
  background-size: 1100px 826px;
}
.icon_f_banquet 
{
  width: 178px;
  height: 78px;    
  background: var(--icon_img_bg) -0px -947px;
  background-size: 2115px 1590px;
}
.icon_bauhaus 
{
  width: 87px;
  height: 40px;    
  background: var(--icon_img_bg) -0px -534px;
  margin: 0 5px;
  background-size: 1100px 826px;
}
.icon_f_bauhaus 
{
  width: 170px;
  height: 78px;    
  background: var(--icon_img_bg) -0px -1027px;
  background-size: 2115px 1590px;
}
.icon_belumi 
{
  width: 97px;
  height: 39px;    
  background: var(--icon_img_bg) -0px -576px;
  background-size: 1100px 826px;
}
.icon_f_belumi 
{
  width: 189px;
  height: 78px;    
  background: var(--icon_img_bg) -0px -1107px;
  background-size: 2115px 1590px;
}
.icon_benulekaren 
{
  width: 96px;
  height: 40px;    
  background: var(--icon_img_bg) -0px -617px;
  background-size: 1100px 826px;
}
.icon_f_benulekaren 
{
  width: 188px;
  height: 78px;    
  background: var(--icon_img_bg) -0px -1187px;
  background-size: 2115px 1590px;
}
.icon_berto 
{
  width: 97px;
  height: 40px;    
  background: var(--icon_img_bg) -0px -659px;
  background-size: 1100px 826px;
}
.icon_f_berto 
{
  width: 189px;
  height: 78px;    
  background: var(--icon_img_bg) -0px -1267px;
  background-size: 2115px 1590px;
}
.icon_better_style 
{
  width: 97px;
  height: 39px;    
  background: var(--icon_img_bg) -0px -701px;
  background-size: 1100px 826px;
}
.icon_f_better_style 
{
  width: 189px;
  height: 78px;    
  background: var(--icon_img_bg) -0px -1347px;
  background-size: 2115px 1590px;
}
.icon_billa 
{
  width: 98px;
  height: 39px;    
  background: var(--icon_img_bg) -0px -742px;
  background-size: 1100px 826px;
}
.icon_f_billa 
{
  width: 190px;
  height: 76px;    
  background: var(--icon_img_bg) -0px -1427px;
  background-size: 2115px 1590px;
}
.icon_black_red_white 
{
  width: 97px;
  height: 40px;    
  background: var(--icon_img_bg) -0px -783px;
  background-size: 1100px 826px;
}
.icon_f_black_red_white 
{
  width: 189px;
  height: 78px;    
  background: var(--icon_img_bg) -0px -1505px;
  background-size: 2115px 1590px;
}
.icon_blanar 
{
  width: 97px;
  height: 39px;    
  background: var(--icon_img_bg) -101px -0px;
  background-size: 1100px 826px;
}
.icon_f_blanar 
{
  width: 189px;
  height: 78px;    
  background: var(--icon_img_bg) -193px -0px;
  background-size: 2115px 1590px;
}
.icon_blanco 
{
  width: 93px;
  height: 40px;    
  background: var(--icon_img_bg) -101px -42px;
  margin: 0 3px;
  background-size: 1100px 826px;
}
.icon_f_blanco 
{
  width: 181px;
  height: 78px;    
  background: var(--icon_img_bg) -193px -81px;
  background-size: 2115px 1590px;
}
.icon_bomba_nabytok 
{
  width: 97px;
  height: 39px;    
  background: var(--icon_img_bg) -101px -84px;
  background-size: 1100px 826px;
}
.icon_f_bomba_nabytok 
{
  width: 189px;
  height: 78px;    
  background: var(--icon_img_bg) -193px -161px;
  background-size: 2115px 1590px;
}
.icon_bonprix 
{
  width: 96px;
  height: 40px;    
  background: var(--icon_img_bg) -101px -125px;
  background-size: 1100px 826px;
}
.icon_f_bonprix 
{
  width: 186px;
  height: 78px;    
  background: var(--icon_img_bg) -193px -241px;
  background-size: 2115px 1590px;
}
.icon_butlers 
{
  width: 97px;
  height: 40px;    
  background: var(--icon_img_bg) -101px -167px;
  background-size: 1100px 826px;
}
.icon_f_butlers 
{
  width: 189px;
  height: 78px;    
  background: var(--icon_img_bg) -193px -321px;
  background-size: 2115px 1590px;
}
.icon_bux_sk 
{
  width: 98px;
  height: 39px;    
  background: var(--icon_img_bg) -101px -209px;
  background-size: 1100px 826px;
}
.icon_f_bux_sk 
{
  width: 190px;
  height: 77px;    
  background: var(--icon_img_bg) -193px -401px;
  background-size: 2115px 1590px;
}
.icon_komfos 
{
  width: 97px;
  height: 39px;    
  background: var(--icon_img_bg) -101px -250px;
  background-size: 1100px 826px;
}
.icon_f_komfos 
{
  width: 189px;
  height: 76px;    
  background: var(--icon_img_bg) -193px -480px;
  background-size: 2115px 1590px;
}
.icon_cba_verex 
{
  width: 96px;
  height: 39px;    
  background: var(--icon_img_bg) -101px -291px;
  background-size: 1100px 826px;
}
.icon_f_cba_verex 
{
  width: 186px;
  height: 78px;    
  background: var(--icon_img_bg) -193px -558px;
  background-size: 2115px 1590px;
}
.icon_cechovo 
{
  width: 97px;
  height: 40px;    
  background: var(--icon_img_bg) -101px -332px;
  background-size: 1100px 826px;
}
.icon_f_cechovo 
{
  width: 189px;
  height: 78px;    
  background: var(--icon_img_bg) -193px -638px;
  background-size: 2115px 1590px;
}
.icon_centurion 
{
  width: 97px;
  height: 39px;    
  background: var(--icon_img_bg) -101px -374px;
  background-size: 1100px 826px;
}
.icon_f_centurion 
{
  width: 189px;
  height: 78px;    
  background: var(--icon_img_bg) -193px -718px;
  background-size: 2115px 1590px;
}
.icon_color_lak 
{
  width: 97px;
  height: 40px;    
  background: var(--icon_img_bg) -101px -415px;
  background-size: 1100px 826px;
}
.icon_f_color_lak 
{
  width: 189px;
  height: 78px;    
  background: var(--icon_img_bg) -193px -798px;
  background-size: 2115px 1590px;
}
.icon_comfor 
{
  width: 97px;
  height: 37px;    
  background: var(--icon_img_bg) -101px -457px;
  background-size: 1100px 826px;
}
.icon_f_comfor 
{
  width: 189px;
  height: 74px;    
  background: var(--icon_img_bg) -193px -878px;
  background-size: 2115px 1590px;
}
.icon_jednota 
{
  width: 97px;
  height: 40px;    
  background: var(--icon_img_bg) -101px -496px;
  background-size: 1100px 826px;
}
.icon_f_jednota 
{
  width: 189px;
  height: 78px;    
  background: var(--icon_img_bg) -193px -954px;
  background-size: 2115px 1590px;
}
.icon_datart 
{
  width: 97px;
  height: 39px;    
  background: var(--icon_img_bg) -101px -538px;
  background-size: 1100px 826px;
}
.icon_f_datart 
{
  width: 189px;
  height: 78px;    
  background: var(--icon_img_bg) -193px -1034px;
  background-size: 2115px 1590px;
}
.icon_decodom 
{
  width: 98px;
  height: 32px;    
  background: var(--icon_img_bg) -101px -579px;
  background-size: 1100px 826px;
}
.icon_f_decodom 
{
  width: 190px;
  height: 61px;    
  background: var(--icon_img_bg) -193px -1114px;
  background-size: 2115px 1590px;
}
.icon_dedra 
{
  width: 98px;
  height: 39px;    
  background: var(--icon_img_bg) -101px -613px;
  background-size: 1100px 826px;
}
.icon_f_dedra 
{
  width: 190px;
  height: 78px;    
  background: var(--icon_img_bg) -193px -1177px;
  background-size: 2115px 1590px;
}
.icon_deichmann 
{
  width: 98px;
  height: 38px;    
  background: var(--icon_img_bg) -101px -654px;
  background-size: 1100px 826px;
}
.icon_f_deichmann 
{
  width: 190px;
  height: 75px;    
  background: var(--icon_img_bg) -193px -1257px;
  background-size: 2115px 1590px;
}
.icon_delia_potraviny 
{
  width: 92px;
  height: 40px;    
  background: var(--icon_img_bg) -101px -694px;
  margin: 0 3px;
  background-size: 1100px 826px;
}
.icon_f_delia_potraviny 
{
  width: 179px;
  height: 78px;    
  background: var(--icon_img_bg) -193px -1334px;
  background-size: 2115px 1590px;
}
.icon_dewalt 
{
  width: 97px;
  height: 39px;    
  background: var(--icon_img_bg) -101px -736px;
  background-size: 1100px 826px;
}
.icon_f_dewalt 
{
  width: 189px;
  height: 78px;    
  background: var(--icon_img_bg) -193px -1414px;
  background-size: 2115px 1590px;
}
.icon_diego 
{
  width: 98px;
  height: 37px;    
  background: var(--icon_img_bg) -101px -777px;
  background-size: 1100px 826px;
}
.icon_f_diego 
{
  width: 190px;
  height: 73px;    
  background: var(--icon_img_bg) -193px -1494px;
  background-size: 2115px 1590px;
}
.icon_diton 
{
  width: 97px;
  height: 39px;    
  background: var(--icon_img_bg) -201px -0px;
  background-size: 1100px 826px;
}
.icon_f_diton 
{
  width: 190px;
  height: 78px;    
  background: var(--icon_img_bg) -385px -0px;
  background-size: 2115px 1590px;
}
.icon_dm 
{
  width: 97px;
  height: 40px;    
  background: var(--icon_img_bg) -201px -42px;
  background-size: 1100px 826px;
}
.icon_f_dm 
{
  width: 190px;
  height: 78px;    
  background: var(--icon_img_bg) -385px -81px;
  background-size: 2115px 1590px;
}
.icon_dmj_market 
{
  width: 83px;
  height: 39px;    
  background: var(--icon_img_bg) -201px -84px;
  margin: 0 8px;
  background-size: 1100px 826px;
}
.icon_f_dmj_market 
{
  width: 162px;
  height: 78px;    
  background: var(--icon_img_bg) -385px -161px;
  background-size: 2115px 1590px;
}
.icon_domyfarieb 
{
  width: 98px;
  height: 39px;    
  background: var(--icon_img_bg) -201px -125px;
  background-size: 1100px 826px;
}
.icon_f_domyfarieb 
{
  width: 190px;
  height: 76px;    
  background: var(--icon_img_bg) -385px -241px;
  background-size: 2115px 1590px;
}
.icon_domasko 
{
  width: 98px;
  height: 39px;    
  background: var(--icon_img_bg) -201px -166px;
  background-size: 1100px 826px;
}
.icon_f_domasko 
{
  width: 190px;
  height: 77px;    
  background: var(--icon_img_bg) -385px -319px;
  background-size: 2115px 1590px;
}
.icon_domestav 
{
  width: 97px;
  height: 40px;    
  background: var(--icon_img_bg) -201px -207px;
  background-size: 1100px 826px;
}
.icon_f_domestav 
{
  width: 190px;
  height: 78px;    
  background: var(--icon_img_bg) -385px -398px;
  background-size: 2115px 1590px;
}
.icon_domoss 
{
  width: 97px;
  height: 38px;    
  background: var(--icon_img_bg) -201px -249px;
  background-size: 1100px 826px;
}
.icon_f_domoss 
{
  width: 190px;
  height: 76px;    
  background: var(--icon_img_bg) -385px -478px;
  background-size: 2115px 1590px;
}
.icon_dozsa 
{
  width: 97px;
  height: 40px;    
  background: var(--icon_img_bg) -201px -289px;
  background-size: 1100px 826px;
}
.icon_f_dozsa 
{
  width: 190px;
  height: 78px;    
  background: var(--icon_img_bg) -385px -556px;
  background-size: 2115px 1590px;
}
.icon_drmax 
{
  width: 97px;
  height: 39px;    
  background: var(--icon_img_bg) -201px -331px;
  background-size: 1100px 826px;
}
.icon_f_drmax 
{
  width: 190px;
  height: 77px;    
  background: var(--icon_img_bg) -385px -636px;
  background-size: 2115px 1590px;
}
.icon_dracik 
{
  width: 97px;
  height: 40px;    
  background: var(--icon_img_bg) -201px -372px;
  background-size: 1100px 826px;
}
.icon_f_dracik 
{
  width: 190px;
  height: 78px;    
  background: var(--icon_img_bg) -385px -715px;
  background-size: 2115px 1590px;
}
.icon_drevokom 
{
  width: 98px;
  height: 39px;    
  background: var(--icon_img_bg) -201px -414px;
  background-size: 1100px 826px;
}
.icon_f_drevokom 
{
  width: 190px;
  height: 77px;    
  background: var(--icon_img_bg) -385px -795px;
  background-size: 2115px 1590px;
}
.icon_drink_vo 
{
  width: 97px;
  height: 40px;    
  background: var(--icon_img_bg) -201px -455px;
  background-size: 1100px 826px;
}
.icon_f_drink_vo 
{
  width: 190px;
  height: 78px;    
  background: var(--icon_img_bg) -385px -874px;
  background-size: 2115px 1590px;
}
.icon_edprofi 
{
  width: 93px;
  height: 39px;    
  background: var(--icon_img_bg) -201px -497px;
  margin: 0 3px;
  background-size: 1100px 826px;
}
.icon_f_edprofi 
{
  width: 182px;
  height: 78px;    
  background: var(--icon_img_bg) -385px -954px;
  background-size: 2115px 1590px;
}
.icon_eko_lekaren 
{
  width: 97px;
  height: 40px;    
  background: var(--icon_img_bg) -201px -538px;
  background-size: 1100px 826px;
}
.icon_f_eko_lekaren 
{
  width: 190px;
  height: 78px;    
  background: var(--icon_img_bg) -385px -1034px;
  background-size: 2115px 1590px;
}
.icon_electrolux 
{
  width: 97px;
  height: 39px;    
  background: var(--icon_img_bg) -201px -580px;
  background-size: 1100px 826px;
}
.icon_f_electrolux 
{
  width: 190px;
  height: 78px;    
  background: var(--icon_img_bg) -385px -1114px;
  background-size: 2115px 1590px;
}
.icon_estetica 
{
  width: 97px;
  height: 40px;    
  background: var(--icon_img_bg) -201px -621px;
  background-size: 1100px 826px;
}
.icon_f_estetica 
{
  width: 190px;
  height: 78px;    
  background: var(--icon_img_bg) -385px -1194px;
  background-size: 2115px 1590px;
}
.icon_eta 
{
  width: 97px;
  height: 40px;    
  background: var(--icon_img_bg) -201px -663px;
  background-size: 1100px 826px;
}
.icon_f_eta 
{
  width: 190px;
  height: 78px;    
  background: var(--icon_img_bg) -385px -1274px;
  background-size: 2115px 1590px;
}
.icon_euroline 
{
  width: 97px;
  height: 39px;    
  background: var(--icon_img_bg) -201px -705px;
  background-size: 1100px 826px;
}
.icon_f_euroline 
{
  width: 190px;
  height: 78px;    
  background: var(--icon_img_bg) -385px -1354px;
  background-size: 2115px 1590px;
}
.icon_eurona_cerny 
{
  width: 88px;
  height: 40px;    
  background: var(--icon_img_bg) -201px -746px;
  margin: 0 5px;
  background-size: 1100px 826px;
}
.icon_f_eurona_cerny 
{
  width: 173px;
  height: 78px;    
  background: var(--icon_img_bg) -385px -1434px;
  background-size: 2115px 1590px;
}
.icon_exisport 
{
  width: 98px;
  height: 37px;    
  background: var(--icon_img_bg) -201px -788px;
  background-size: 1100px 826px;
}
.icon_f_exisport 
{
  width: 190px;
  height: 73px;    
  background: var(--icon_img_bg) -385px -1514px;
  background-size: 2115px 1590px;
}
.icon_fann 
{
  width: 97px;
  height: 39px;    
  background: var(--icon_img_bg) -301px -0px;
  background-size: 1100px 826px;
}
.icon_f_fann 
{
  width: 190px;
  height: 78px;    
  background: var(--icon_img_bg) -577px -0px;
  background-size: 2115px 1590px;
}
.icon_farbysk 
{
  width: 98px;
  height: 39px;    
  background: var(--icon_img_bg) -301px -42px;
  background-size: 1100px 826px;
}
.icon_f_farbysk 
{
  width: 191px;
  height: 77px;    
  background: var(--icon_img_bg) -577px -81px;
  background-size: 2115px 1590px;
}
.icon_farmasi 
{
  width: 97px;
  height: 40px;    
  background: var(--icon_img_bg) -301px -83px;
  background-size: 1100px 826px;
}
.icon_f_farmasi 
{
  width: 190px;
  height: 78px;    
  background: var(--icon_img_bg) -577px -160px;
  background-size: 2115px 1590px;
}
.icon_fax_copy_pro 
{
  width: 97px;
  height: 40px;    
  background: var(--icon_img_bg) -301px -125px;
  background-size: 1100px 826px;
}
.icon_f_fax_copy_pro 
{
  width: 190px;
  height: 78px;    
  background: var(--icon_img_bg) -577px -240px;
  background-size: 2115px 1590px;
}
.icon_festool 
{
  width: 97px;
  height: 39px;    
  background: var(--icon_img_bg) -301px -167px;
  background-size: 1100px 826px;
}
.icon_f_festool 
{
  width: 190px;
  height: 78px;    
  background: var(--icon_img_bg) -577px -320px;
  background-size: 2115px 1590px;
}
.icon_fines 
{
  width: 98px;
  height: 37px;    
  background: var(--icon_img_bg) -301px -208px;
  background-size: 1100px 826px;
}
.icon_f_fines 
{
  width: 191px;
  height: 72px;    
  background: var(--icon_img_bg) -577px -400px;
  background-size: 2115px 1590px;
}
.icon_fiorangelo 
{
  width: 97px;
  height: 40px;    
  background: var(--icon_img_bg) -301px -247px;
  background-size: 1100px 826px;
}
.icon_f_fiorangelo 
{
  width: 190px;
  height: 78px;    
  background: var(--icon_img_bg) -577px -474px;
  background-size: 2115px 1590px;
}
.icon_fresh 
{
  width: 97px;
  height: 39px;    
  background: var(--icon_img_bg) -301px -289px;
  background-size: 1100px 826px;
}
.icon_f_fresh 
{
  width: 190px;
  height: 78px;    
  background: var(--icon_img_bg) -577px -554px;
  background-size: 2115px 1590px;
}
.icon_globuszv 
{
  width: 98px;
  height: 31px;    
  background: var(--icon_img_bg) -301px -330px;
  background-size: 1100px 826px;
}
.icon_f_globuszv 
{
  width: 191px;
  height: 61px;    
  background: var(--icon_img_bg) -577px -634px;
  background-size: 2115px 1590px;
}
.icon_gorenje 
{
  width: 97px;
  height: 40px;    
  background: var(--icon_img_bg) -301px -363px;
  background-size: 1100px 826px;
}
.icon_f_gorenje 
{
  width: 190px;
  height: 78px;    
  background: var(--icon_img_bg) -577px -697px;
  background-size: 2115px 1590px;
}
.icon_grm 
{
  width: 72px;
  height: 39px;    
  background: var(--icon_img_bg) -301px -405px;
  margin: 0 13px;
  background-size: 1100px 826px;
}
.icon_f_grm 
{
  width: 142px;
  height: 78px;    
  background: var(--icon_img_bg) -577px -777px;
  background-size: 2115px 1590px;
}
.icon_gvphe 
{
  width: 98px;
  height: 39px;    
  background: var(--icon_img_bg) -301px -446px;
  background-size: 1100px 826px;
}
.icon_f_gvphe 
{
  width: 191px;
  height: 77px;    
  background: var(--icon_img_bg) -577px -857px;
  background-size: 2115px 1590px;
}
.icon_hecht 
{
  width: 97px;
  height: 40px;    
  background: var(--icon_img_bg) -301px -487px;
  background-size: 1100px 826px;
}
.icon_f_hecht 
{
  width: 190px;
  height: 78px;    
  background: var(--icon_img_bg) -577px -936px;
  background-size: 2115px 1590px;
}
.icon_hornbach 
{
  width: 98px;
  height: 31px;    
  background: var(--icon_img_bg) -301px -529px;
  background-size: 1100px 826px;
}
.icon_f_hornbach 
{
  width: 191px;
  height: 62px;    
  background: var(--icon_img_bg) -577px -1016px;
  background-size: 2115px 1590px;
}
.icon_husky 
{
  width: 96px;
  height: 39px;    
  background: var(--icon_img_bg) -301px -562px;
  background-size: 1100px 826px;
}
.icon_f_husky 
{
  width: 188px;
  height: 78px;    
  background: var(--icon_img_bg) -577px -1080px;
  background-size: 2115px 1590px;
}
.icon_idea-nabytok 
{
  width: 88px;
  height: 40px;    
  background: var(--icon_img_bg) -301px -603px;
  margin: 0 5px;
  background-size: 1100px 826px;
}
.icon_f_idea-nabytok 
{
  width: 172px;
  height: 78px;    
  background: var(--icon_img_bg) -577px -1160px;
  background-size: 2115px 1590px;
}
.icon_ikea 
{
  width: 98px;
  height: 38px;    
  background: var(--icon_img_bg) -301px -645px;
  background-size: 1100px 826px;
}
.icon_f_ikea 
{
  width: 191px;
  height: 75px;    
  background: var(--icon_img_bg) -577px -1240px;
  background-size: 2115px 1590px;
}
.icon_ingema 
{
  width: 97px;
  height: 40px;    
  background: var(--icon_img_bg) -301px -685px;
  background-size: 1100px 826px;
}
.icon_f_ingema 
{
  width: 190px;
  height: 78px;    
  background: var(--icon_img_bg) -577px -1317px;
  background-size: 2115px 1590px;
}
.icon_intersport 
{
  width: 97px;
  height: 40px;    
  background: var(--icon_img_bg) -301px -727px;
  background-size: 1100px 826px;
}
.icon_f_intersport 
{
  width: 190px;
  height: 78px;    
  background: var(--icon_img_bg) -577px -1397px;
  background-size: 2115px 1590px;
}
.icon_isover 
{
  width: 97px;
  height: 39px;    
  background: var(--icon_img_bg) -301px -769px;
  background-size: 1100px 826px;
}
.icon_f_isover 
{
  width: 190px;
  height: 78px;    
  background: var(--icon_img_bg) -577px -1477px;
  background-size: 2115px 1590px;
}
.icon_italmarket 
{
  width: 92px;
  height: 39px;    
  background: var(--icon_img_bg) -401px -0px;
  margin: 0 3px;
  background-size: 1100px 826px;
}
.icon_f_italmarket 
{
  width: 179px;
  height: 78px;    
  background: var(--icon_img_bg) -770px -0px;
  background-size: 2115px 1590px;
}
.icon_ivarsk 
{
  width: 97px;
  height: 40px;    
  background: var(--icon_img_bg) -401px -42px;
  background-size: 1100px 826px;
}
.icon_f_ivarsk 
{
  width: 189px;
  height: 78px;    
  background: var(--icon_img_bg) -770px -81px;
  background-size: 2115px 1590px;
}
.icon_janusnapoje 
{
  width: 97px;
  height: 39px;    
  background: var(--icon_img_bg) -401px -84px;
  background-size: 1100px 826px;
}
.icon_f_janusnapoje 
{
  width: 189px;
  height: 78px;    
  background: var(--icon_img_bg) -770px -161px;
  background-size: 2115px 1590px;
}
.icon_starkl 
{
  width: 97px;
  height: 40px;    
  background: var(--icon_img_bg) -401px -125px;
  background-size: 1100px 826px;
}
.icon_f_starkl 
{
  width: 189px;
  height: 78px;    
  background: var(--icon_img_bg) -770px -241px;
  background-size: 2115px 1590px;
}
.icon_justnahrin 
{
  width: 98px;
  height: 36px;    
  background: var(--icon_img_bg) -401px -167px;
  background-size: 1100px 826px;
}
.icon_f_justnahrin 
{
  width: 190px;
  height: 71px;    
  background: var(--icon_img_bg) -770px -321px;
  background-size: 2115px 1590px;
}
.icon_jysk 
{
  width: 97px;
  height: 40px;    
  background: var(--icon_img_bg) -401px -205px;
  background-size: 1100px 826px;
}
.icon_f_jysk 
{
  width: 189px;
  height: 78px;    
  background: var(--icon_img_bg) -770px -394px;
  background-size: 2115px 1590px;
}
.icon_karmen 
{
  width: 83px;
  height: 40px;    
  background: var(--icon_img_bg) -401px -247px;
  margin: 0 8px;
  background-size: 1100px 826px;
}
.icon_f_karmen 
{
  width: 162px;
  height: 78px;    
  background: var(--icon_img_bg) -770px -474px;
  background-size: 2115px 1590px;
}
.icon_kaufland 
{
  width: 97px;
  height: 39px;    
  background: var(--icon_img_bg) -401px -289px;
  background-size: 1100px 826px;
}
.icon_f_kaufland 
{
  width: 189px;
  height: 78px;    
  background: var(--icon_img_bg) -770px -554px;
  background-size: 2115px 1590px;
}
.icon_kaercher 
{
  width: 97px;
  height: 40px;    
  background: var(--icon_img_bg) -401px -330px;
  background-size: 1100px 826px;
}
.icon_f_kaercher 
{
  width: 189px;
  height: 78px;    
  background: var(--icon_img_bg) -770px -634px;
  background-size: 2115px 1590px;
}
.icon_kik 
{
  width: 98px;
  height: 39px;    
  background: var(--icon_img_bg) -401px -372px;
  background-size: 1100px 826px;
}
.icon_f_kik 
{
  width: 190px;
  height: 78px;    
  background: var(--icon_img_bg) -770px -714px;
  background-size: 2115px 1590px;
}
.icon_kinekus 
{
  width: 98px;
  height: 36px;    
  background: var(--icon_img_bg) -401px -413px;
  background-size: 1100px 826px;
}
.icon_f_kinekus 
{
  width: 190px;
  height: 70px;    
  background: var(--icon_img_bg) -770px -794px;
  background-size: 2115px 1590px;
}
.icon_klas 
{
  width: 97px;
  height: 39px;    
  background: var(--icon_img_bg) -401px -451px;
  background-size: 1100px 826px;
}
.icon_f_klas 
{
  width: 189px;
  height: 78px;    
  background: var(--icon_img_bg) -770px -866px;
  background-size: 2115px 1590px;
}
.icon_komaco_cba 
{
  width: 98px;
  height: 37px;    
  background: var(--icon_img_bg) -401px -492px;
  background-size: 1100px 826px;
}
.icon_f_komaco_cba 
{
  width: 190px;
  height: 72px;    
  background: var(--icon_img_bg) -770px -946px;
  background-size: 2115px 1590px;
}
.icon_koala 
{
  width: 97px;
  height: 39px;    
  background: var(--icon_img_bg) -401px -531px;
  background-size: 1100px 826px;
}
.icon_f_koala 
{
  width: 189px;
  height: 78px;    
  background: var(--icon_img_bg) -770px -1020px;
  background-size: 2115px 1590px;
}
.icon_vokollar 
{
  width: 98px;
  height: 39px;    
  background: var(--icon_img_bg) -401px -572px;
  background-size: 1100px 826px;
}
.icon_f_vokollar 
{
  width: 190px;
  height: 77px;    
  background: var(--icon_img_bg) -770px -1100px;
  background-size: 2115px 1590px;
}
.icon_konrad 
{
  width: 97px;
  height: 40px;    
  background: var(--icon_img_bg) -401px -613px;
  background-size: 1100px 826px;
}
.icon_f_konrad 
{
  width: 189px;
  height: 78px;    
  background: var(--icon_img_bg) -770px -1179px;
  background-size: 2115px 1590px;
}
.icon_kondela 
{
  width: 97px;
  height: 40px;    
  background: var(--icon_img_bg) -401px -655px;
  background-size: 1100px 826px;
}
.icon_f_kondela 
{
  width: 189px;
  height: 78px;    
  background: var(--icon_img_bg) -770px -1259px;
  background-size: 2115px 1590px;
}
.icon_koruna 
{
  width: 98px;
  height: 39px;    
  background: var(--icon_img_bg) -401px -697px;
  background-size: 1100px 826px;
}
.icon_f_koruna 
{
  width: 190px;
  height: 77px;    
  background: var(--icon_img_bg) -770px -1339px;
  background-size: 2115px 1590px;
}
.icon_kraj 
{
  width: 97px;
  height: 39px;    
  background: var(--icon_img_bg) -401px -738px;
  background-size: 1100px 826px;
}
.icon_f_kraj 
{
  width: 189px;
  height: 78px;    
  background: var(--icon_img_bg) -770px -1418px;
  background-size: 2115px 1590px;
}
.icon_kramp 
{
  width: 97px;
  height: 40px;    
  background: var(--icon_img_bg) -401px -779px;
  background-size: 1100px 826px;
}
.icon_f_kramp 
{
  width: 189px;
  height: 78px;    
  background: var(--icon_img_bg) -770px -1498px;
  background-size: 2115px 1590px;
}
.icon_ptacek 
{
  width: 97px;
  height: 39px;    
  background: var(--icon_img_bg) -501px -0px;
  background-size: 1100px 826px;
}
.icon_f_ptacek 
{
  width: 190px;
  height: 78px;    
  background: var(--icon_img_bg) -962px -0px;
  background-size: 2115px 1590px;
}
.icon_labas 
{
  width: 96px;
  height: 40px;    
  background: var(--icon_img_bg) -501px -42px;
  background-size: 1100px 826px;
}
.icon_f_labas 
{
  width: 187px;
  height: 78px;    
  background: var(--icon_img_bg) -962px -81px;
  background-size: 2115px 1590px;
}
.icon_lego 
{
  width: 97px;
  height: 39px;    
  background: var(--icon_img_bg) -501px -84px;
  background-size: 1100px 826px;
}
.icon_f_lego 
{
  width: 190px;
  height: 78px;    
  background: var(--icon_img_bg) -962px -161px;
  background-size: 2115px 1590px;
}
.icon_lekaren-ina 
{
  width: 98px;
  height: 33px;    
  background: var(--icon_img_bg) -501px -125px;
  background-size: 1100px 826px;
}
.icon_f_lekaren-ina 
{
  width: 190px;
  height: 64px;    
  background: var(--icon_img_bg) -962px -241px;
  background-size: 2115px 1590px;
}
.icon_libex 
{
  width: 97px;
  height: 40px;    
  background: var(--icon_img_bg) -501px -160px;
  background-size: 1100px 826px;
}
.icon_f_libex 
{
  width: 189px;
  height: 78px;    
  background: var(--icon_img_bg) -962px -307px;
  background-size: 2115px 1590px;
}
.icon_lidl 
{
  width: 97px;
  height: 39px;    
  background: var(--icon_img_bg) -501px -202px;
  background-size: 1100px 826px;
}
.icon_f_lidl 
{
  width: 190px;
  height: 78px;    
  background: var(--icon_img_bg) -962px -387px;
  background-size: 2115px 1590px;
}
.icon_lotosan 
{
  width: 97px;
  height: 40px;    
  background: var(--icon_img_bg) -501px -243px;
  background-size: 1100px 826px;
}
.icon_f_lotosan 
{
  width: 190px;
  height: 78px;    
  background: var(--icon_img_bg) -962px -467px;
  background-size: 2115px 1590px;
}
.icon_lyreco 
{
  width: 97px;
  height: 40px;    
  background: var(--icon_img_bg) -501px -285px;
  background-size: 1100px 826px;
}
.icon_f_lyreco 
{
  width: 190px;
  height: 78px;    
  background: var(--icon_img_bg) -962px -547px;
  background-size: 2115px 1590px;
}
.icon_mplusm 
{
  width: 97px;
  height: 39px;    
  background: var(--icon_img_bg) -501px -327px;
  background-size: 1100px 826px;
}
.icon_f_mplusm 
{
  width: 190px;
  height: 78px;    
  background: var(--icon_img_bg) -962px -627px;
  background-size: 2115px 1590px;
}
.icon_makos 
{
  width: 98px;
  height: 38px;    
  background: var(--icon_img_bg) -501px -368px;
  background-size: 1100px 826px;
}
.icon_f_makos 
{
  width: 190px;
  height: 75px;    
  background: var(--icon_img_bg) -962px -707px;
  background-size: 2115px 1590px;
}
.icon_makro_sk 
{
  width: 97px;
  height: 39px;    
  background: var(--icon_img_bg) -501px -408px;
  background-size: 1100px 826px;
}
.icon_f_makro_sk 
{
  width: 190px;
  height: 78px;    
  background: var(--icon_img_bg) -962px -784px;
  background-size: 2115px 1590px;
}
.icon_malfini 
{
  width: 97px;
  height: 40px;    
  background: var(--icon_img_bg) -501px -449px;
  background-size: 1100px 826px;
}
.icon_f_malfini 
{
  width: 190px;
  height: 78px;    
  background: var(--icon_img_bg) -962px -864px;
  background-size: 2115px 1590px;
}
.icon_malina 
{
  width: 98px;
  height: 37px;    
  background: var(--icon_img_bg) -501px -491px;
  background-size: 1100px 826px;
}
.icon_f_malina 
{
  width: 190px;
  height: 72px;    
  background: var(--icon_img_bg) -962px -944px;
  background-size: 2115px 1590px;
}
.icon_marionnaud 
{
  width: 92px;
  height: 39px;    
  background: var(--icon_img_bg) -501px -530px;
  margin: 0 3px;
  background-size: 1100px 826px;
}
.icon_f_marionnaud 
{
  width: 180px;
  height: 78px;    
  background: var(--icon_img_bg) -962px -1018px;
  background-size: 2115px 1590px;
}
.icon_marykay 
{
  width: 98px;
  height: 29px;    
  background: var(--icon_img_bg) -501px -571px;
  background-size: 1100px 826px;
}
.icon_f_marykay 
{
  width: 190px;
  height: 57px;    
  background: var(--icon_img_bg) -962px -1098px;
  background-size: 2115px 1590px;
}
.icon_masiarstvoubyka 
{
  width: 97px;
  height: 39px;    
  background: var(--icon_img_bg) -501px -602px;
  background-size: 1100px 826px;
}
.icon_f_masiarstvoubyka 
{
  width: 190px;
  height: 78px;    
  background: var(--icon_img_bg) -962px -1157px;
  background-size: 2115px 1590px;
}
.icon_merkurymarket 
{
  width: 95px;
  height: 40px;    
  background: var(--icon_img_bg) -501px -643px;
  background-size: 1100px 826px;
}
.icon_f_merkurymarket 
{
  width: 185px;
  height: 78px;    
  background: var(--icon_img_bg) -962px -1237px;
  background-size: 2115px 1590px;
}
.icon_kotvenia 
{
  width: 97px;
  height: 40px;    
  background: var(--icon_img_bg) -501px -685px;
  background-size: 1100px 826px;
}
.icon_f_kotvenia 
{
  width: 190px;
  height: 78px;    
  background: var(--icon_img_bg) -962px -1317px;
  background-size: 2115px 1590px;
}
.icon_metro 
{
  width: 97px;
  height: 39px;    
  background: var(--icon_img_bg) -501px -727px;
  background-size: 1100px 826px;
}
.icon_f_metro 
{
  width: 190px;
  height: 78px;    
  background: var(--icon_img_bg) -962px -1397px;
  background-size: 2115px 1590px;
}
.icon_meuble 
{
  width: 97px;
  height: 40px;    
  background: var(--icon_img_bg) -501px -768px;
  background-size: 1100px 826px;
}
.icon_f_meuble 
{
  width: 190px;
  height: 78px;    
  background: var(--icon_img_bg) -962px -1477px;
  background-size: 2115px 1590px;
}
.icon_miele 
{
  width: 97px;
  height: 39px;    
  background: var(--icon_img_bg) -601px -0px;
  background-size: 1100px 826px;
}
.icon_f_miele 
{
  width: 190px;
  height: 78px;    
  background: var(--icon_img_bg) -1154px -0px;
  background-size: 2115px 1590px;
}
.icon_milkagro 
{
  width: 97px;
  height: 40px;    
  background: var(--icon_img_bg) -601px -42px;
  background-size: 1100px 826px;
}
.icon_f_milkagro 
{
  width: 190px;
  height: 78px;    
  background: var(--icon_img_bg) -1154px -81px;
  background-size: 2115px 1590px;
}
.icon_emilwaukee 
{
  width: 97px;
  height: 39px;    
  background: var(--icon_img_bg) -601px -84px;
  background-size: 1100px 826px;
}
.icon_f_emilwaukee 
{
  width: 190px;
  height: 78px;    
  background: var(--icon_img_bg) -1154px -161px;
  background-size: 2115px 1590px;
}
.icon_mirolli 
{
  width: 98px;
  height: 40px;    
  background: var(--icon_img_bg) -601px -125px;
  background-size: 1100px 826px;
}
.icon_f_mirolli 
{
  width: 191px;
  height: 77px;    
  background: var(--icon_img_bg) -1154px -241px;
  background-size: 2115px 1590px;
}
.icon_mobelix 
{
  width: 98px;
  height: 30px;    
  background: var(--icon_img_bg) -601px -167px;
  background-size: 1100px 826px;
}
.icon_f_mobelix 
{
  width: 191px;
  height: 59px;    
  background: var(--icon_img_bg) -1154px -320px;
  background-size: 2115px 1590px;
}
.icon_mora 
{
  width: 97px;
  height: 39px;    
  background: var(--icon_img_bg) -601px -199px;
  background-size: 1100px 826px;
}
.icon_f_mora 
{
  width: 190px;
  height: 78px;    
  background: var(--icon_img_bg) -1154px -381px;
  background-size: 2115px 1590px;
}
.icon_mountfield 
{
  width: 97px;
  height: 37px;    
  background: var(--icon_img_bg) -601px -240px;
  background-size: 1100px 826px;
}
.icon_f_mountfield 
{
  width: 190px;
  height: 72px;    
  background: var(--icon_img_bg) -1154px -461px;
  background-size: 2115px 1590px;
}
.icon_mojobchod 
{
  width: 97px;
  height: 39px;    
  background: var(--icon_img_bg) -601px -279px;
  background-size: 1100px 826px;
}
.icon_f_mojobchod 
{
  width: 190px;
  height: 78px;    
  background: var(--icon_img_bg) -1154px -535px;
  background-size: 2115px 1590px;
}
.icon_mrava 
{
  width: 97px;
  height: 40px;    
  background: var(--icon_img_bg) -601px -320px;
  background-size: 1100px 826px;
}
.icon_f_mrava 
{
  width: 190px;
  height: 78px;    
  background: var(--icon_img_bg) -1154px -615px;
  background-size: 2115px 1590px;
}
.icon_nay 
{
  width: 97px;
  height: 39px;    
  background: var(--icon_img_bg) -601px -362px;
  background-size: 1100px 826px;
}
.icon_f_nay 
{
  width: 189px;
  height: 78px;    
  background: var(--icon_img_bg) -1154px -695px;
  background-size: 2115px 1590px;
}
.icon_ndpostele 
{
  width: 97px;
  height: 40px;    
  background: var(--icon_img_bg) -601px -403px;
  background-size: 1100px 826px;
}
.icon_f_ndpostele 
{
  width: 190px;
  height: 78px;    
  background: var(--icon_img_bg) -1154px -775px;
  background-size: 2115px 1590px;
}
.icon_nitrazdroj 
{
  width: 98px;
  height: 39px;    
  background: var(--icon_img_bg) -601px -445px;
  background-size: 1100px 826px;
}
.icon_f_nitrazdroj 
{
  width: 191px;
  height: 77px;    
  background: var(--icon_img_bg) -1154px -855px;
  background-size: 2115px 1590px;
}
.icon_nobyt 
{
  width: 97px;
  height: 39px;    
  background: var(--icon_img_bg) -601px -486px;
  background-size: 1100px 826px;
}
.icon_f_nobyt 
{
  width: 190px;
  height: 78px;    
  background: var(--icon_img_bg) -1154px -934px;
  background-size: 2115px 1590px;
}
.icon_nomiland 
{
  width: 97px;
  height: 40px;    
  background: var(--icon_img_bg) -601px -527px;
  background-size: 1100px 826px;
}
.icon_f_nomiland 
{
  width: 190px;
  height: 78px;    
  background: var(--icon_img_bg) -1154px -1014px;
  background-size: 2115px 1590px;
}
.icon_obi 
{
  width: 98px;
  height: 37px;    
  background: var(--icon_img_bg) -601px -569px;
  background-size: 1100px 826px;
}
.icon_f_obi 
{
  width: 191px;
  height: 72px;    
  background: var(--icon_img_bg) -1154px -1094px;
  background-size: 2115px 1590px;
}
.icon_office_pro 
{
  width: 98px;
  height: 39px;    
  background: var(--icon_img_bg) -601px -608px;
  background-size: 1100px 826px;
}
.icon_f_office_pro 
{
  width: 191px;
  height: 77px;    
  background: var(--icon_img_bg) -1154px -1168px;
  background-size: 2115px 1590px;
}
.icon_okay 
{
  width: 97px;
  height: 40px;    
  background: var(--icon_img_bg) -601px -649px;
  background-size: 1100px 826px;
}
.icon_f_okay 
{
  width: 190px;
  height: 78px;    
  background: var(--icon_img_bg) -1154px -1247px;
  background-size: 2115px 1590px;
}
.icon_okentes 
{
  width: 97px;
  height: 39px;    
  background: var(--icon_img_bg) -601px -691px;
  background-size: 1100px 826px;
}
.icon_f_okentes 
{
  width: 190px;
  height: 78px;    
  background: var(--icon_img_bg) -1154px -1327px;
  background-size: 2115px 1590px;
}
.icon_okrasa 
{
  width: 97px;
  height: 40px;    
  background: var(--icon_img_bg) -601px -732px;
  background-size: 1100px 826px;
}
.icon_f_okrasa 
{
  width: 190px;
  height: 78px;    
  background: var(--icon_img_bg) -1154px -1407px;
  background-size: 2115px 1590px;
}
.icon_orava 
{
  width: 97px;
  height: 39px;    
  background: var(--icon_img_bg) -601px -774px;
  background-size: 1100px 826px;
}
.icon_f_orava 
{
  width: 190px;
  height: 78px;    
  background: var(--icon_img_bg) -1154px -1487px;
  background-size: 2115px 1590px;
}
.icon_oriflame 
{
  width: 98px;
  height: 36px;    
  background: var(--icon_img_bg) -701px -0px;
  background-size: 1100px 826px;
}
.icon_f_oriflame 
{
  width: 190px;
  height: 71px;    
  background: var(--icon_img_bg) -1347px -0px;
  background-size: 2115px 1590px;
}
.icon_orion 
{
  width: 97px;
  height: 39px;    
  background: var(--icon_img_bg) -701px -39px;
  background-size: 1100px 826px;
}
.icon_f_orion 
{
  width: 189px;
  height: 78px;    
  background: var(--icon_img_bg) -1347px -74px;
  background-size: 2115px 1590px;
}
.icon_oveckarna 
{
  width: 97px;
  height: 40px;    
  background: var(--icon_img_bg) -701px -80px;
  background-size: 1100px 826px;
}
.icon_f_oveckarna 
{
  width: 189px;
  height: 78px;    
  background: var(--icon_img_bg) -1347px -154px;
  background-size: 2115px 1590px;
}
.icon_ilas 
{
  width: 89px;
  height: 39px;    
  background: var(--icon_img_bg) -701px -122px;
  margin: 0 5px;
  background-size: 1100px 826px;
}
.icon_f_ilas 
{
  width: 173px;
  height: 78px;    
  background: var(--icon_img_bg) -1347px -234px;
  background-size: 2115px 1590px;
}
.icon_pepco 
{
  width: 97px;
  height: 40px;    
  background: var(--icon_img_bg) -701px -163px;
  background-size: 1100px 826px;
}
.icon_f_pepco 
{
  width: 189px;
  height: 78px;    
  background: var(--icon_img_bg) -1347px -314px;
  background-size: 2115px 1590px;
}
.icon_petcenter 
{
  width: 95px;
  height: 40px;    
  background: var(--icon_img_bg) -701px -205px;
  background-size: 1100px 826px;
}
.icon_f_petcenter 
{
  width: 185px;
  height: 78px;    
  background: var(--icon_img_bg) -1347px -394px;
  background-size: 2115px 1590px;
}
.icon_planeo 
{
  width: 97px;
  height: 39px;    
  background: var(--icon_img_bg) -701px -247px;
  background-size: 1100px 826px;
}
.icon_f_planeo 
{
  width: 189px;
  height: 78px;    
  background: var(--icon_img_bg) -1347px -474px;
  background-size: 2115px 1590px;
}
.icon_plus-lekaren 
{
  width: 92px;
  height: 40px;    
  background: var(--icon_img_bg) -701px -288px;
  margin: 0 3px;
  background-size: 1100px 826px;
}
.icon_f_plus-lekaren 
{
  width: 179px;
  height: 78px;    
  background: var(--icon_img_bg) -1347px -554px;
  background-size: 2115px 1590px;
}
.icon_pompo 
{
  width: 98px;
  height: 37px;    
  background: var(--icon_img_bg) -701px -330px;
  background-size: 1100px 826px;
}
.icon_f_pompo 
{
  width: 190px;
  height: 74px;    
  background: var(--icon_img_bg) -1347px -634px;
  background-size: 2115px 1590px;
}
.icon_porta 
{
  width: 97px;
  height: 40px;    
  background: var(--icon_img_bg) -701px -369px;
  background-size: 1100px 826px;
}
.icon_f_porta 
{
  width: 189px;
  height: 78px;    
  background: var(--icon_img_bg) -1347px -710px;
  background-size: 2115px 1590px;
}
.icon_posednabytok 
{
  width: 97px;
  height: 40px;    
  background: var(--icon_img_bg) -701px -411px;
  background-size: 1100px 826px;
}
.icon_f_posednabytok 
{
  width: 189px;
  height: 78px;    
  background: var(--icon_img_bg) -1347px -790px;
  background-size: 2115px 1590px;
}
.icon_prescot 
{
  width: 98px;
  height: 36px;    
  background: var(--icon_img_bg) -701px -453px;
  background-size: 1100px 826px;
}
.icon_f_prescot 
{
  width: 190px;
  height: 72px;    
  background: var(--icon_img_bg) -1347px -870px;
  background-size: 2115px 1590px;
}
.icon_proelektro 
{
  width: 97px;
  height: 40px;    
  background: var(--icon_img_bg) -701px -491px;
  background-size: 1100px 826px;
}
.icon_f_proelektro 
{
  width: 189px;
  height: 78px;    
  background: var(--icon_img_bg) -1347px -944px;
  background-size: 2115px 1590px;
}
.icon_progma 
{
  width: 98px;
  height: 39px;    
  background: var(--icon_img_bg) -701px -533px;
  background-size: 1100px 826px;
}
.icon_f_progma 
{
  width: 190px;
  height: 77px;    
  background: var(--icon_img_bg) -1347px -1024px;
  background-size: 2115px 1590px;
}
.icon_proma 
{
  width: 94px;
  height: 39px;    
  background: var(--icon_img_bg) -701px -574px;
  background-size: 1100px 826px;
}
.icon_f_proma 
{
  width: 182px;
  height: 78px;    
  background: var(--icon_img_bg) -1347px -1103px;
  background-size: 2115px 1590px;
}
.icon_cba_taborsky 
{
  width: 98px;
  height: 40px;    
  background: var(--icon_img_bg) -701px -615px;
  background-size: 1100px 826px;
}
.icon_f_cba_taborsky 
{
  width: 190px;
  height: 77px;    
  background: var(--icon_img_bg) -1347px -1183px;
  background-size: 2115px 1590px;
}
.icon_r_comp 
{
  width: 97px;
  height: 39px;    
  background: var(--icon_img_bg) -701px -657px;
  background-size: 1100px 826px;
}
.icon_f_r_comp 
{
  width: 189px;
  height: 78px;    
  background: var(--icon_img_bg) -1347px -1262px;
  background-size: 2115px 1590px;
}
.icon_raja 
{
  width: 98px;
  height: 37px;    
  background: var(--icon_img_bg) -701px -698px;
  background-size: 1100px 826px;
}
.icon_f_raja 
{
  width: 190px;
  height: 73px;    
  background: var(--icon_img_bg) -1347px -1342px;
  background-size: 2115px 1590px;
}
.icon_rea_nabytok 
{
  width: 98px;
  height: 38px;    
  background: var(--icon_img_bg) -701px -737px;
  background-size: 1100px 826px;
}
.icon_f_rea_nabytok 
{
  width: 190px;
  height: 74px;    
  background: var(--icon_img_bg) -1347px -1417px;
  background-size: 2115px 1590px;
}
.icon_retrogeria 
{
  width: 90px;
  height: 39px;    
  background: var(--icon_img_bg) -701px -777px;
  margin: 0 4px;
  background-size: 1100px 826px;
}
.icon_f_retrogeria 
{
  width: 176px;
  height: 78px;    
  background: var(--icon_img_bg) -1347px -1493px;
  background-size: 2115px 1590px;
}
.icon_roko 
{
  width: 98px;
  height: 39px;    
  background: var(--icon_img_bg) -801px -0px;
  background-size: 1100px 826px;
}
.icon_f_roko 
{
  width: 190px;
  height: 77px;    
  background: var(--icon_img_bg) -1539px -0px;
  background-size: 2115px 1590px;
}
.icon_rover 
{
  width: 90px;
  height: 39px;    
  background: var(--icon_img_bg) -801px -42px;
  margin: 0 4px;
  background-size: 1100px 826px;
}
.icon_f_rover 
{
  width: 176px;
  height: 78px;    
  background: var(--icon_img_bg) -1539px -80px;
  background-size: 2115px 1590px;
}
.icon_sama 
{
  width: 97px;
  height: 40px;    
  background: var(--icon_img_bg) -801px -83px;
  background-size: 1100px 826px;
}
.icon_f_sama 
{
  width: 190px;
  height: 78px;    
  background: var(--icon_img_bg) -1539px -160px;
  background-size: 2115px 1590px;
}
.icon_satur 
{
  width: 97px;
  height: 40px;    
  background: var(--icon_img_bg) -801px -125px;
  background-size: 1100px 826px;
}
.icon_f_satur 
{
  width: 190px;
  height: 78px;    
  background: var(--icon_img_bg) -1539px -240px;
  background-size: 2115px 1590px;
}
.icon_sconto 
{
  width: 85px;
  height: 39px;    
  background: var(--icon_img_bg) -801px -167px;
  margin: 0 7px;
  background-size: 1100px 826px;
}
.icon_f_sconto 
{
  width: 166px;
  height: 78px;    
  background: var(--icon_img_bg) -1539px -320px;
  background-size: 2115px 1590px;
}
.icon_sencor 
{
  width: 97px;
  height: 40px;    
  background: var(--icon_img_bg) -801px -208px;
  background-size: 1100px 826px;
}
.icon_f_sencor 
{
  width: 190px;
  height: 78px;    
  background: var(--icon_img_bg) -1539px -400px;
  background-size: 2115px 1590px;
}
.icon_schneider-lekaren 
{
  width: 98px;
  height: 38px;    
  background: var(--icon_img_bg) -801px -250px;
  background-size: 1100px 826px;
}
.icon_f_schneider-lekaren 
{
  width: 190px;
  height: 75px;    
  background: var(--icon_img_bg) -1539px -480px;
  background-size: 2115px 1590px;
}
.icon_siko 
{
  width: 98px;
  height: 37px;    
  background: var(--icon_img_bg) -801px -290px;
  background-size: 1100px 826px;
}
.icon_f_siko 
{
  width: 190px;
  height: 74px;    
  background: var(--icon_img_bg) -1539px -557px;
  background-size: 2115px 1590px;
}
.icon_sintra 
{
  width: 98px;
  height: 36px;    
  background: var(--icon_img_bg) -801px -329px;
  background-size: 1100px 826px;
}
.icon_f_sintra 
{
  width: 190px;
  height: 71px;    
  background: var(--icon_img_bg) -1539px -633px;
  background-size: 2115px 1590px;
}
.icon_smoker 
{
  width: 97px;
  height: 39px;    
  background: var(--icon_img_bg) -801px -367px;
  background-size: 1100px 826px;
}
.icon_f_smoker 
{
  width: 190px;
  height: 76px;    
  background: var(--icon_img_bg) -1539px -706px;
  background-size: 2115px 1590px;
}
.icon_sorea 
{
  width: 98px;
  height: 39px;    
  background: var(--icon_img_bg) -801px -408px;
  background-size: 1100px 826px;
}
.icon_f_sorea 
{
  width: 190px;
  height: 78px;    
  background: var(--icon_img_bg) -1539px -784px;
  background-size: 2115px 1590px;
}
.icon_stadreko 
{
  width: 97px;
  height: 40px;    
  background: var(--icon_img_bg) -801px -449px;
  background-size: 1100px 826px;
}
.icon_f_stadreko 
{
  width: 190px;
  height: 78px;    
  background: var(--icon_img_bg) -1539px -864px;
  background-size: 2115px 1590px;
}
.icon_stavmat 
{
  width: 97px;
  height: 40px;    
  background: var(--icon_img_bg) -801px -491px;
  background-size: 1100px 826px;
}
.icon_f_stavmat 
{
  width: 190px;
  height: 78px;    
  background: var(--icon_img_bg) -1539px -944px;
  background-size: 2115px 1590px;
}
.icon_stihl 
{
  width: 89px;
  height: 39px;    
  background: var(--icon_img_bg) -801px -533px;
  margin: 0 5px;
  background-size: 1100px 826px;
}
.icon_f_stihl 
{
  width: 173px;
  height: 78px;    
  background: var(--icon_img_bg) -1539px -1024px;
  background-size: 2115px 1590px;
}
.icon_stova 
{
  width: 97px;
  height: 40px;    
  background: var(--icon_img_bg) -801px -574px;
  background-size: 1100px 826px;
}
.icon_f_stova 
{
  width: 190px;
  height: 78px;    
  background: var(--icon_img_bg) -1539px -1104px;
  background-size: 2115px 1590px;
}
.icon_superzoo 
{
  width: 97px;
  height: 39px;    
  background: var(--icon_img_bg) -801px -616px;
  background-size: 1100px 826px;
}
.icon_f_superzoo 
{
  width: 190px;
  height: 78px;    
  background: var(--icon_img_bg) -1539px -1184px;
  background-size: 2115px 1590px;
}
.icon_sevt 
{
  width: 86px;
  height: 40px;    
  background: var(--icon_img_bg) -801px -657px;
  margin: 0 6px;
  background-size: 1100px 826px;
}
.icon_f_sevt 
{
  width: 169px;
  height: 78px;    
  background: var(--icon_img_bg) -1539px -1264px;
  background-size: 2115px 1590px;
}
.icon_taketosk 
{
  width: 98px;
  height: 34px;    
  background: var(--icon_img_bg) -801px -699px;
  background-size: 1100px 826px;
}
.icon_f_taketosk 
{
  width: 190px;
  height: 66px;    
  background: var(--icon_img_bg) -1539px -1344px;
  background-size: 2115px 1590px;
}
.icon_takko 
{
  width: 89px;
  height: 39px;    
  background: var(--icon_img_bg) -801px -735px;
  margin: 0 5px;
  background-size: 1100px 826px;
}
.icon_f_takko 
{
  width: 174px;
  height: 78px;    
  background: var(--icon_img_bg) -1539px -1412px;
  background-size: 2115px 1590px;
}
.icon_taktik 
{
  width: 97px;
  height: 39px;    
  background: var(--icon_img_bg) -801px -776px;
  background-size: 1100px 826px;
}
.icon_f_taktik 
{
  width: 190px;
  height: 77px;    
  background: var(--icon_img_bg) -1539px -1492px;
  background-size: 2115px 1590px;
}
.icon_tauris 
{
  width: 97px;
  height: 39px;    
  background: var(--icon_img_bg) -901px -0px;
  background-size: 1100px 826px;
}
.icon_f_tauris 
{
  width: 190px;
  height: 78px;    
  background: var(--icon_img_bg) -1731px -0px;
  background-size: 2115px 1590px;
}
.icon_terno 
{
  width: 97px;
  height: 40px;    
  background: var(--icon_img_bg) -901px -42px;
  background-size: 1100px 826px;
}
.icon_f_terno 
{
  width: 190px;
  height: 78px;    
  background: var(--icon_img_bg) -1731px -81px;
  background-size: 2115px 1590px;
}
.icon_tesco 
{
  width: 97px;
  height: 39px;    
  background: var(--icon_img_bg) -901px -84px;
  background-size: 1100px 826px;
}
.icon_f_tesco 
{
  width: 190px;
  height: 78px;    
  background: var(--icon_img_bg) -1731px -161px;
  background-size: 2115px 1590px;
}
.icon_tescoma 
{
  width: 98px;
  height: 36px;    
  background: var(--icon_img_bg) -901px -125px;
  background-size: 1100px 826px;
}
.icon_f_tescoma 
{
  width: 191px;
  height: 70px;    
  background: var(--icon_img_bg) -1731px -241px;
  background-size: 2115px 1590px;
}
.icon_teta 
{
  width: 97px;
  height: 40px;    
  background: var(--icon_img_bg) -901px -163px;
  background-size: 1100px 826px;
}
.icon_f_teta 
{
  width: 190px;
  height: 78px;    
  background: var(--icon_img_bg) -1731px -313px;
  background-size: 2115px 1590px;
}
.icon_tevos 
{
  width: 89px;
  height: 39px;    
  background: var(--icon_img_bg) -901px -205px;
  margin: 0 5px;
  background-size: 1100px 826px;
}
.icon_f_tevos 
{
  width: 174px;
  height: 78px;    
  background: var(--icon_img_bg) -1731px -393px;
  background-size: 2115px 1590px;
}
.icon_tchibo 
{
  width: 97px;
  height: 40px;    
  background: var(--icon_img_bg) -901px -246px;
  background-size: 1100px 826px;
}
.icon_f_tchibo 
{
  width: 190px;
  height: 78px;    
  background: var(--icon_img_bg) -1731px -473px;
  background-size: 2115px 1590px;
}
.icon_timo 
{
  width: 97px;
  height: 39px;    
  background: var(--icon_img_bg) -901px -288px;
  background-size: 1100px 826px;
}
.icon_f_timo 
{
  width: 190px;
  height: 78px;    
  background: var(--icon_img_bg) -1731px -553px;
  background-size: 2115px 1590px;
}
.icon_tiptravel 
{
  width: 97px;
  height: 40px;    
  background: var(--icon_img_bg) -901px -329px;
  background-size: 1100px 826px;
}
.icon_f_tiptravel 
{
  width: 190px;
  height: 78px;    
  background: var(--icon_img_bg) -1731px -633px;
  background-size: 2115px 1590px;
}
.icon_top_drogeria 
{
  width: 87px;
  height: 40px;    
  background: var(--icon_img_bg) -901px -371px;
  margin: 0 6px;
  background-size: 1100px 826px;
}
.icon_f_top_drogeria 
{
  width: 170px;
  height: 78px;    
  background: var(--icon_img_bg) -1731px -713px;
  background-size: 2115px 1590px;
}
.icon_top_shop 
{
  width: 97px;
  height: 39px;    
  background: var(--icon_img_bg) -901px -413px;
  background-size: 1100px 826px;
}
.icon_f_top_shop 
{
  width: 190px;
  height: 78px;    
  background: var(--icon_img_bg) -1731px -793px;
  background-size: 2115px 1590px;
}
.icon_tupperware 
{
  width: 97px;
  height: 40px;    
  background: var(--icon_img_bg) -901px -454px;
  background-size: 1100px 826px;
}
.icon_f_tupperware 
{
  width: 190px;
  height: 78px;    
  background: var(--icon_img_bg) -1731px -873px;
  background-size: 2115px 1590px;
}
.icon_turancar 
{
  width: 97px;
  height: 39px;    
  background: var(--icon_img_bg) -901px -496px;
  background-size: 1100px 826px;
}
.icon_f_turancar 
{
  width: 190px;
  height: 78px;    
  background: var(--icon_img_bg) -1731px -953px;
  background-size: 2115px 1590px;
}
.icon_urgela 
{
  width: 97px;
  height: 40px;    
  background: var(--icon_img_bg) -901px -537px;
  background-size: 1100px 826px;
}
.icon_f_urgela 
{
  width: 190px;
  height: 78px;    
  background: var(--icon_img_bg) -1731px -1033px;
  background-size: 2115px 1590px;
}
.icon_vasa-lekaren 
{
  width: 94px;
  height: 39px;    
  background: var(--icon_img_bg) -901px -579px;
  background-size: 1100px 826px;
}
.icon_f_vasa-lekaren 
{
  width: 184px;
  height: 77px;    
  background: var(--icon_img_bg) -1731px -1113px;
  background-size: 2115px 1590px;
}
.icon_vcelovina 
{
  width: 97px;
  height: 40px;    
  background: var(--icon_img_bg) -901px -620px;
  background-size: 1100px 826px;
}
.icon_f_vcelovina 
{
  width: 190px;
  height: 78px;    
  background: var(--icon_img_bg) -1731px -1192px;
  background-size: 2115px 1590px;
}
.icon_velkykosik 
{
  width: 98px;
  height: 39px;    
  background: var(--icon_img_bg) -901px -662px;
  background-size: 1100px 826px;
}
.icon_f_velkykosik 
{
  width: 191px;
  height: 77px;    
  background: var(--icon_img_bg) -1731px -1272px;
  background-size: 2115px 1590px;
}
.icon_vetis 
{
  width: 97px;
  height: 39px;    
  background: var(--icon_img_bg) -901px -703px;
  background-size: 1100px 826px;
}
.icon_f_vetis 
{
  width: 190px;
  height: 78px;    
  background: var(--icon_img_bg) -1731px -1351px;
  background-size: 2115px 1590px;
}
.icon_vilen 
{
  width: 97px;
  height: 40px;    
  background: var(--icon_img_bg) -901px -744px;
  background-size: 1100px 826px;
}
.icon_f_vilen 
{
  width: 190px;
  height: 78px;    
  background: var(--icon_img_bg) -1731px -1431px;
  background-size: 2115px 1590px;
}
.icon_whirlpool 
{
  width: 97px;
  height: 39px;    
  background: var(--icon_img_bg) -901px -786px;
  background-size: 1100px 826px;
}
.icon_f_whirlpool 
{
  width: 190px;
  height: 78px;    
  background: var(--icon_img_bg) -1731px -1511px;
  background-size: 2115px 1590px;
}
.icon_wienerberger 
{
  width: 97px;
  height: 39px;    
  background: var(--icon_img_bg) -1001px -0px;
  background-size: 1100px 826px;
}
.icon_f_wienerberger 
{
  width: 189px;
  height: 78px;    
  background: var(--icon_img_bg) -1924px -0px;
  background-size: 2115px 1590px;
}
.icon_woodcote 
{
  width: 97px;
  height: 40px;    
  background: var(--icon_img_bg) -1001px -42px;
  background-size: 1100px 826px;
}
.icon_f_woodcote 
{
  width: 189px;
  height: 78px;    
  background: var(--icon_img_bg) -1924px -81px;
  background-size: 2115px 1590px;
}
.icon_xplay 
{
  width: 98px;
  height: 38px;    
  background: var(--icon_img_bg) -1001px -84px;
  background-size: 1100px 826px;
}
.icon_f_xplay 
{
  width: 190px;
  height: 75px;    
  background: var(--icon_img_bg) -1924px -161px;
  background-size: 2115px 1590px;
}
.icon_xxxlutz 
{
  width: 97px;
  height: 40px;    
  background: var(--icon_img_bg) -1001px -124px;
  background-size: 1100px 826px;
}
.icon_f_xxxlutz 
{
  width: 189px;
  height: 78px;    
  background: var(--icon_img_bg) -1924px -238px;
  background-size: 2115px 1590px;
}
.icon_zelenalekaren 
{
  width: 87px;
  height: 39px;    
  background: var(--icon_img_bg) -1001px -166px;
  margin: 0 6px;
  background-size: 1100px 826px;
}
.icon_f_zelenalekaren 
{
  width: 169px;
  height: 78px;    
  background: var(--icon_img_bg) -1924px -318px;
  background-size: 2115px 1590px;
}
.icon_zabka 
{
  width: 98px;
  height: 40px;    
  background: var(--icon_img_bg) -1001px -207px;
  background-size: 1100px 826px;
}
.icon_f_zabka 
{
  width: 190px;
  height: 77px;    
  background: var(--icon_img_bg) -1924px -398px;
  background-size: 2115px 1590px;
}
