.img_top_Lidl_od_25_07__do_31_07_2022_Online_letak 
{
  width: 177px;
  height: 277px;    
  background: var(--img_top_all) -0px -0px;
  background-size: 2004px 1314px;
}
.img_top_MerkuryMarket_od_21_07__do_24_07_2022_VIKEND_AKCII 
{
  width: 178px;
  height: 246px;    
  background: var(--img_top_all) -0px -280px;
  background-size: 2004px 1314px;
}
.img_top_Pepco_od_21_07__do_03_08_2022 
{
  width: 178px;
  height: 245px;    
  background: var(--img_top_all) -0px -528px;
  background-size: 2004px 1314px;
}
.img_top_Jednota_od_21_07__do_03_08_2022 
{
  width: 178px;
  height: 252px;    
  background: var(--img_top_all) -0px -775px;
  background-size: 2004px 1314px;
}
.img_top_Jednota_od_21_07__do_27_07_2022 
{
  width: 178px;
  height: 252px;    
  background: var(--img_top_all) -0px -1029px;
  background-size: 2004px 1314px;
}
.img_top_Libex_od_29_07__do_17_08_2022_Koruna 
{
  width: 178px;
  height: 265px;    
  background: var(--img_top_all) -181px -0px;
  background-size: 2004px 1314px;
}
.img_top_Libex_od_25_07__do_14_08_2022_LIBEX 
{
  width: 178px;
  height: 252px;    
  background: var(--img_top_all) -181px -268px;
  background-size: 2004px 1314px;
}
.img_top_Kaufland_od_21_07__do_27_07_2022_Letak 
{
  width: 178px;
  height: 229px;    
  background: var(--img_top_all) -181px -522px;
  background-size: 2004px 1314px;
}
.img_top_Kaufland_od_21_07__do_27_07_2022_Letak_Letne_drinky 
{
  width: 178px;
  height: 230px;    
  background: var(--img_top_all) -181px -753px;
  background-size: 2004px 1314px;
}
.img_top_CBA_Komfos_od_22_07__do_02_08_2022_Novy_letak_CBA_Komfos 
{
  width: 178px;
  height: 252px;    
  background: var(--img_top_all) -181px -985px;
  background-size: 2004px 1314px;
}
.img_top_NitraZdroj_od_21_07__do_24_07_2022_VIKENDOVA_CENA_21_7__24_7_2022 
{
  width: 178px;
  height: 252px;    
  background: var(--img_top_all) -361px -0px;
  background-size: 2004px 1314px;
}
.img_top_NitraZdroj_od_20_07__do_24_07_2022_VIKENDOVA_PONUKA_20_7___24_7_2022 
{
  width: 202px;
  height: 178px;    
  background: var(--img_top_all) -361px -255px;
  background-size: 2004px 1314px;
}
.img_top_Smoker_od_15_07__do_15_08_2022_Letak_NOBA_15_07_15_08 
{
  width: 178px;
  height: 206px;    
  background: var(--img_top_all) -361px -435px;
  background-size: 2004px 1314px;
}
.img_top_Tauris_od_18_07__do_24_07_2022_Akcia 
{
  width: 178px;
  height: 252px;    
  background: var(--img_top_all) -361px -643px;
  background-size: 2004px 1314px;
}
.img_top_Tauris_od_18_07__do_31_07_2022_Dvojtyzdenna_akcia 
{
  width: 178px;
  height: 252px;    
  background: var(--img_top_all) -361px -897px;
  background-size: 2004px 1314px;
}
.img_top_Lidl_od_21_07__do_24_07_2022_Online_letak 
{
  width: 177px;
  height: 277px;    
  background: var(--img_top_all) -565px -0px;
  background-size: 2004px 1314px;
}
.img_top_Billa_od_20_07__do_26_07_2022_billa_letak_29_plati_od_20_7_do_26_7_2022 
{
  width: 178px;
  height: 217px;    
  background: var(--img_top_all) -565px -280px;
  background-size: 2004px 1314px;
}
.img_top_Tesco_od_20_07__do_26_07_2022_Tesco_letak_buduci_tyzden 
{
  width: 161px;
  height: 278px;    
  background: var(--img_top_all) -565px -499px;
  background-size: 2004px 1314px;
}
.img_top_Kraj_od_21_07__do_27_07_2022_kraj_2022_letak_w29 
{
  width: 178px;
  height: 265px;    
  background: var(--img_top_all) -565px -779px;
  background-size: 2004px 1314px;
}
.img_top_MilkAgro_od_20_07__do_02_08_2022_Aktualny 
{
  width: 178px;
  height: 258px;    
  background: var(--img_top_all) -565px -1046px;
  background-size: 2004px 1314px;
}
.img_top_Terno_od_21_07__do_27_07_2022_terno_2022_letak_w29 
{
  width: 178px;
  height: 265px;    
  background: var(--img_top_all) -745px -0px;
  background-size: 2004px 1314px;
}
.img_top_CBA_Verex_od_22_07__do_24_07_2022_Vikendova_cena_29_tyzden_2022 
{
  width: 178px;
  height: 252px;    
  background: var(--img_top_all) -745px -268px;
  background-size: 2004px 1314px;
}
.img_top_CBA_Komfos_od_22_07__do_02_08_2022_Novy_velkoobchodny_letak_CBA_Komfos 
{
  width: 178px;
  height: 252px;    
  background: var(--img_top_all) -745px -522px;
  background-size: 2004px 1314px;
}
.img_top_CBA_Komfos_od_18_07__do_24_07_2022_Vernostna_akcia_CBA_Komfos 
{
  width: 178px;
  height: 244px;    
  background: var(--img_top_all) -745px -776px;
  background-size: 2004px 1314px;
}
.img_top_GVPHe_od_22_07__do_23_07_2022_Maloobchodne_akcie_Skvely_Vikend 
{
  width: 178px;
  height: 252px;    
  background: var(--img_top_all) -745px -1022px;
  background-size: 2004px 1314px;
}
.img_top_GVPHe_od_21_07__do_24_07_2022_Maloobchodne_akcie_Vikendova_cena 
{
  width: 178px;
  height: 252px;    
  background: var(--img_top_all) -925px -0px;
  background-size: 2004px 1314px;
}
.img_top_GVPHe_od_21_07__do_03_08_2022_Diskont_akcie_CBA_diskont 
{
  width: 178px;
  height: 252px;    
  background: var(--img_top_all) -925px -255px;
  background-size: 2004px 1314px;
}
.img_top_Teta_od_18_07__do_27_07_2022 
{
  width: 176px;
  height: 277px;    
  background: var(--img_top_all) -925px -509px;
  background-size: 2004px 1314px;
}
.img_top_Makos_od_18_07__do_24_07_2022_Makosacik 
{
  width: 178px;
  height: 207px;    
  background: var(--img_top_all) -925px -788px;
  background-size: 2004px 1314px;
}
.img_top_MaryKay_od_15_07__do_15_10_2022_Kniha_o_krase 
{
  width: 178px;
  height: 254px;    
  background: var(--img_top_all) -925px -997px;
  background-size: 2004px 1314px;
}
.img_top_Billa_od_04_07__do_31_07_2022_katalog_leto_ii_plati_od_4_7_do_31_7_2022_alebo_do_vypredania_zasob 
{
  width: 178px;
  height: 252px;    
  background: var(--img_top_all) -1105px -0px;
  background-size: 2004px 1314px;
}
.img_top_MilkAgro_od_20_07__do_02_08_2022_Cash_and_Carry 
{
  width: 178px;
  height: 245px;    
  background: var(--img_top_all) -1105px -255px;
  background-size: 2004px 1314px;
}
.img_top_Kollar_VH_od_18_07__do_05_08_2022 
{
  width: 178px;
  height: 251px;    
  background: var(--img_top_all) -1105px -502px;
  background-size: 2004px 1314px;
}
.img_top_Labas_od_15_07__do_28_07_2022 
{
  width: 178px;
  height: 252px;    
  background: var(--img_top_all) -1105px -755px;
  background-size: 2004px 1314px;
}
.img_top_1day_od_14_07__do_27_07_2022 
{
  width: 178px;
  height: 233px;    
  background: var(--img_top_all) -1105px -1009px;
  background-size: 2004px 1314px;
}
.img_top_Rover_od_01_07__do_31_07_2022_DONA_velkoobchodny_letak 
{
  width: 178px;
  height: 252px;    
  background: var(--img_top_all) -1285px -0px;
  background-size: 2004px 1314px;
}
.img_top_IdeaNabytok_od_15_07__do_31_07_2022 
{
  width: 178px;
  height: 252px;    
  background: var(--img_top_all) -1285px -255px;
  background-size: 2004px 1314px;
}
.img_top_Lidl_od_18_07__do_24_07_2022_Online_letak 
{
  width: 177px;
  height: 277px;    
  background: var(--img_top_all) -1285px -509px;
  background-size: 2004px 1314px;
}
.img_top_Metro_od_20_07__do_02_08_2022_maloobchod_mp2216 
{
  width: 178px;
  height: 261px;    
  background: var(--img_top_all) -1285px -788px;
  background-size: 2004px 1314px;
}
.img_top_Metro_od_20_07__do_02_08_2022_pre_milovnikov_jedla_mp2216 
{
  width: 178px;
  height: 260px;    
  background: var(--img_top_all) -1285px -1051px;
  background-size: 2004px 1314px;
}
.img_top_Metro_od_20_07__do_02_08_2022_gastronomia_mp2216 
{
  width: 178px;
  height: 260px;    
  background: var(--img_top_all) -1465px -0px;
  background-size: 2004px 1314px;
}
.img_top_Metro_od_20_07__do_02_08_2022_spotrebny_tovar_mp2216 
{
  width: 178px;
  height: 261px;    
  background: var(--img_top_all) -1465px -263px;
  background-size: 2004px 1314px;
}
.img_top_Fresh_od_15_07__do_01_08_2022_Vychod 
{
  width: 178px;
  height: 265px;    
  background: var(--img_top_all) -1465px -526px;
  background-size: 2004px 1314px;
}
.img_top_Fresh_od_15_07__do_01_08_2022_Stred_a_Zapad 
{
  width: 178px;
  height: 266px;    
  background: var(--img_top_all) -1465px -793px;
  background-size: 2004px 1314px;
}
.img_top_Kondela_od_13_07__do_09_08_2022_Aktualny_letak_Nabytok 
{
  width: 178px;
  height: 252px;    
  background: var(--img_top_all) -1465px -1061px;
  background-size: 2004px 1314px;
}
.img_top_Asko_od_14_07__do_27_07_2022_ASKO_NABYTOK_Velky_letny_vypredaj_pokracuje 
{
  width: 178px;
  height: 252px;    
  background: var(--img_top_all) -1645px -0px;
  background-size: 2004px 1314px;
}
.img_top_Sama_od_15_07__do_02_08_2022 
{
  width: 178px;
  height: 252px;    
  background: var(--img_top_all) -1645px -255px;
  background-size: 2004px 1314px;
}
.img_top_BonPrix_do_13_01_2023 
{
  width: 178px;
  height: 212px;    
  background: var(--img_top_all) -1645px -509px;
  background-size: 2004px 1314px;
}
.img_top_Jysk_od_13_07__do_26_07_2022 
{
  width: 178px;
  height: 246px;    
  background: var(--img_top_all) -1645px -723px;
  background-size: 2004px 1314px;
}
.img_top_OBI_od_13_07__do_31_07_2022_DOKAZETE_COKOLVEK 
{
  width: 178px;
  height: 252px;    
  background: var(--img_top_all) -1645px -971px;
  background-size: 2004px 1314px;
}
.img_top_mojobchod_od_08_07__do_21_07_2022 
{
  width: 178px;
  height: 252px;    
  background: var(--img_top_all) -1825px -0px;
  background-size: 2004px 1314px;
}
