.img_top_Lidl_od_25_07__do_31_07_2022_Online_letak 
{
  width: 177px;
  height: 277px;    
  background: var(--img_top) -0px -0px;
  background-size: 360px 1028px;
}
.img_top_MerkuryMarket_od_21_07__do_24_07_2022_VIKEND_AKCII 
{
  width: 178px;
  height: 246px;    
  background: var(--img_top) -0px -280px;
  background-size: 360px 1028px;
}
.img_top_Pepco_od_21_07__do_03_08_2022 
{
  width: 178px;
  height: 245px;    
  background: var(--img_top) -0px -528px;
  background-size: 360px 1028px;
}
.img_top_Jednota_od_21_07__do_03_08_2022 
{
  width: 178px;
  height: 252px;    
  background: var(--img_top) -0px -775px;
  background-size: 360px 1028px;
}
.img_top_mojobchod_od_08_07__do_21_07_2022 
{
  width: 178px;
  height: 252px;    
  background: var(--img_top) -181px -0px;
  background-size: 360px 1028px;
}
