{block content}
{*
    ============================
      OBCHOD - zoznam letakov
    ============================
*}

{define button}
    <a n:href="Home:default " class="a_button button_back">
        <i class="fa fa-arrow-circle-left arrow mobile"></i>
        <span class="button_pc_text">'Späť</span>
    </a>;
{/define}

{*DEFINE - Vykreslenie card*}
{define card, $shop, $leaflet, $img_old}
    <div class="column">
        <div class="card">
            <a n:href="LeafletDetail:show $shop->name, $leaflet->title">
                <span class="icon_{$shop->icon} img_cover_head"></span>
            </a>
            <a n:href="LeafletDetail:show $shop->name, $leaflet->title">
                <img class="img_cover {$img_old}" height="auto" src="{$url_image}/{$leaflet->title}/__cover__.webp" alt="" >
                <div class="container">{$shop->title}</div>
                <div class="container od_do">od {$leaflet->startDate|date:'d. m. Y'} do {$leaflet->endDate|date:'d. m. Y'}</div>
                <div class="container">{$leaflet->sub_title}</div>
            </a>
        </div>
    </div>
{/define}


<div class="brb">
    <div class="header_no">
        <a n:href="Home:default " class="a_button button_back">
            <i class="fa fa-arrow-circle-left arrow mobile"></i>
            <span class="button_pc_text">späť do menu</span>
        </a>
        <span class="icon_f_' . {$shop->icon} . ' img_head_logo"></span>
    </div>
    <div class="header_before">
        <div class="header">
            <h1>Aktuálne <span class="od_do_col">{$shop->title}</span> letáky</h1>
            </div>
        </div>

    <div class="cell">
        {foreach $leaflets as $leaflet}
            {include card, $shop, $leaflet, ''}
        {else}
            <div class="header_no_letaky">Aktuálny leták nie je k dispozícií 😪</div>
        {/foreach}
    </div>


    <div class="header_stare_letaky">
        <div class="header">
            <h2>Staré <span class="od_do_col">{$shop->title}</span> letáky</h2>
        </div>
    </div>

    <div class="cell">
        {foreach $leaflets_old as $leaflet}
            {include card, $shop, $leaflet, img_old}
        {else}
            <div class="header_no_letaky">Dnes nekončia žiadne letáky 😉</div>
        {/foreach}
    </div>
</div>
