{block content}
{*
    ============================
      OBCHOD - zoznam letakov
    ============================
*}




<div class="brb">
    <div class="header_no">
        {include button, $type='menu', $n_href='Home:default'}
        <span class="icon_f_' . {$shop->icon} . ' img_head_logo"></span>
    </div>
    <div class="header_before">
        <div class="header">
            <h1>Aktuálne <span class="od_do_col">{$shop->title}</span> letáky</h1>
            </div>
        </div>

    <div class="cell">
        {foreach $leaflets as $leaflet}
            {var $image = $url_image . '/' . $leaflet->title}
            {include card, $shop, $leaflet, $image, ''}
        {else}
            <div class="header_no_letaky">Aktuálny leták nie je k dispozícií 😪</div>
        {/foreach}
    </div>


    <div class="header_stare_letaky">
        <div class="header">
            <h2>Staré <span class="od_do_col">{$shop->title}</span> letáky</h2>
        </div>
    </div>

    <div class="cell">
        {foreach $leaflets_old as $leaflet}
            {var $image = $url_image . '/' . $leaflet->title}
            {include card, $shop, $leaflet, img_old}
        {else}
            <div class="header_no_letaky">Dnes nekončia žiadne letáky 😉</div>
        {/foreach}
    </div>
</div>
{/block}

{block web_url}
    {if $shop->web}
        <a class="a_button button_web_url" href="{$shop->web}" target="_blank">
            <i class="fa fa-home arrow mobile"></i>
            Stránka obchodu
       </a>
    {else}
        <a class="a_button button_web_url button_pass" href="#" alt="Stranka obchodu nedostupna">
            <i class="fa fa-newspaper-o arrow mobile"></i>
            Stránka obchodu
        </a>
    {/if}
{/block}