    <div class="menu" id="menu_pc">
        <a href="{$baseUrl}" alt="Letáčiky hlavná stránka">
            <div class="logo logo_active">Letáčiky</div>
        </a>
        <div class="menu_items_before">
            {foreach $shop_types as $type}
                <button class="menu_items" id="menu_{$type->id}">
                    <div>{$type->title}</div>
                </button>
            {/foreach}
        </div>

        <div class="menu2" id="menu2" >
            {foreach $shop_types as $type}
                <div class="menu_sub" id="sub_menu_{$type->id}">
                    {foreach $shops as $shop}
                        {if $shop->id_typ == $type->id}
                            <div class="menu_sub_items">
                                {if $webOpenHours}
                                    <a href="{plink OpenHours:show $shop->name}">{$shop->title}</a>
                                {else}
                                    <a href="{plink Leaflet:show $shop->name}">{$shop->title}</a>
                                {/if}
                            </div>
                        {/if}
                    {/foreach}
                </div>
            {/foreach}
        </div>

        <div class="div_search">
            <input type="text" id="search" placeholder="Hľadaj obchod alebo produkt.." onkeyup="showResult(this.value)">
        </div>

        <div id="display_search">
            <div id="display" class="search_result"></div>
        </div>

        <div class="theme_sub" id="menuSubTheme"></div>

        <button id="menuTheme" class="menuTheme" ><i class="fa fa-cog icon_theme"></i></button>

    </div>