[client]
default-character-set=utf8
socket=/var/run/mysqld/mysqld.sock
!includedir /etc/mysql/conf.d/  

[mysql]
default-character-set=utf8

[mysqldump]
default-character-set=utf8

[mysqld]
character-set-server=utf8

innodb_buffer_pool_size = 2024M

skip-host-cache
skip-name-resolve
datadir=/var/lib/mysql
socket=/var/run/mysqld/mysqld.sock
user=mysql

sql_mode=""

pid-file=/var/run/mysqld/mysqld.pid

